
*{
      margin: 0;
      padding: 0;
      text-align: center;
      
      
}
  
.container{
      background-color: mediumpurple;
}


h1{
      background-color: cornflowerblue;
      color: wheat;
       /* justify-content: center;  */
       /* text-align: center;  */
      line-height: 5rem;
}

.choice {
       margin: 10px;
        padding: 20px;
         /* border: 1px solid #000;  */
         text-align: center;
         border-radius: 50%;
       }

 
img{
      border-radius: 50%;


}
.choice:hover{
   
       /* opacity: 0.5;  */
       cursor: pointer; 
       background-color: black;
   transform: scale(1.1);
      
     
}

.choices{

     display: flex;
     justify-content: center;
     align-items: center;
}


.score-board{

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      font-size: 2rem;
}

#user-score ,#comp-score{
      font-size: 4rem;
}

.msg-container{

      margin-top: 5rem;
}

#msg{
      background-color: black;
      color: white;
      /* height: 4rem; */
      line-height: 5rem;
      font-size: 2rem;
      display: inline;
      padding: 1rem;
      border-radius: 1rem;
}

