
 body , html{
      height: 100%;
      margin: 0;
      /* background-color: gainsboro; */
      line-height: 1.8em;
      font-size: 16px;
      font-weight: 400;
     font-family: sans-serif;

 }


 .pimg1{
     
      background-image:  url(Image2.jpg);
      
      min-height: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       background-position: center;
 }

       .ptext{
          display: flex;
          justify-content: center;
          position: absolute;
          align-items: center;
          top: 50%;
          width: 100%;
          font-size: 2rem;
          letter-spacing: 8px;
          text-transform: uppercase;
         
       }

       .textBG{
          background-color: rgb(140, 137, 137);
          padding: 1.4rem;
          font-size: 2rem;
         
       }


 .pimg2{
      /* background-image: url(pexels-akos-szabo-145938-440731.jpg); */
      background-image:  url(image2.jpg);
      min-height: 400px;
 }

 .pimg3{
      /* background-image: url(greenry\ 1.jpeg); */
        background-image: url(Image1.jpg); 
      min-height: 400px;
 }


 .pimg1 ,.pimg2 ,.pimg3 ,.pimg4{

      background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       background-position: center;
       background-attachment: fixed;
 
 }

 .section{
     padding: 50px 80px;
     text-align: center;
 }

 .section_light{
     background-color: gainsboro;
     color: grey;
 }

 .section_dark{
     background-color: gray;
 }

 .pimg4{

       background-image: url(image3.jpg);
        min-height: 100%;
        
}


